* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}
img {
  object-fit: fill;
  align-self: stretch;
  max-width: 100%;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.563rem;
  line-height: 1.1;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 20px;
}
h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: normal;
  padding-bottom: 0.5rem;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 10rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 5rem;
  text-shadow: rgb(0, 0, 0) 6px 6px;
}
.undertekst {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(252, 252, 252);
  font-size: 5rem;
  font-weight: 50;
  line-height: 1.1;
  text-align: center;
  padding-top: 1rem;
  text-shadow: rgb(0, 0, 0) 5px 5px;
}
.dato {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(252, 252, 252);
  font-size: 2rem;
  font-weight: 50;
  line-height: 1.1;
  text-align: center;
  padding-top: 10rem;
  text-shadow: rgb(0, 0, 0) 3px 3px;
}
.CV {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  font-size: 2rem;
  padding-top: 1.5rem;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}
.sem {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  font-size: 3rem;
  padding-top: 1.5rem;
  text-shadow: rgb(255, 255, 255) 2px 2px;
}
li {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
@media (orientation: portrait) and (min-width: 500px) {
  .splash {
    width: 100%;
    height: 50%;
    aspect-ratio: 16/9;
    background-position: 0 90%;
  }
}
.splash {
  background-image: url(blomst.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 35% 10%;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 1.4rem;
}
@media (orientation: portrait) and (min-width: 500px) {
  .om {
    width: 100%;
    height: 50%;
    aspect-ratio: 16/9;
    background-position: 0 90%;
  }
}
.om_titel {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 3px 3px;
}
.om {
  background-image: url(blomst6);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 35% 10%;
  font-size: 2rem;
  letter-spacing: 1.5px;
  line-height: 1.4rem;
  padding-top: 20px;
}
.navn {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  font-size: 2rem;
  padding-top: 1.5rem;
  text-shadow: rgb(0, 0, 0) 2px 2px;
}
@media (orientation: portrait) and (min-width: 500px) {
  .projekt {
    width: 100%;
    height: 50%;
    aspect-ratio: 16/9;
    background-position: 0 90%;
  }
}
.projekt {
  background-image: url(blomst3.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 35% 10%;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 1.4rem;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header nav ul {
    gap: 20px;
  }
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  font-weight: 100;
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(255, 0, 0);
}

/* Menuen */
header {
  position: sticky;
  background: #ffffff;
  top: 0;
  padding: 0.8rem 2rem;
  box-shadow: 0 20px 28px 0 rgba(0, 0, 0, 0.3);
}
header .logo a {
  font-size: 2.8rem;
}
header .logo {
  text-align: center;
  margin-bottom: 0.5rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}
.logo {
  max-width: 80px;
  margin-right: auto;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col :last-child {
  margin-top: auto;
  justify-items: baseline;
}
.grid {
  display: flex;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 20px;
  margin-left: 60px;
}

footer {
  text-align: center;
  padding-block: 1rem;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  bottom: 0;
  width: 100%;
  position: sticky;
  top: 100vh;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer p {
  text-align: center;
}
